#img {
	max-height: 20vw;
	border-radius: 1vw;
}

.view-container {
	border-radius: 1vw;
	padding: 3vw;
}

#readMore {
	padding: 1em;
	border-radius: 1vw;
	color: #e3c567;
	background-color: #1f2421;
	font-size: large;
	text-decoration: none;
	font-weight: bolder;
	width: 20vw;
	border: solid 1px #1f2421;
}

#cr {
	font-size: 0.2em;
}
